/*Ei Mon Title Font*/
@import url('https://fonts.googleapis.com/css?family=Khand');
/*Ei Mon Paragrph Font*/
@import url('https://fonts.googleapis.com/css?family=Yantramanav');

h1,h2,h3,h4,h5,h6,a{
    font-family: 'Khand', sans-serif;
    font-weight: bold;
}

p{
    font-family: 'Yantramanav', sans-serif;
}
