@import "normalize.css";
@import "font.css";
@import "btn.css";
@import "header.css";
@import "eimon-title.css";
@import "footer.css";
@import "media-query.css";

/*------------------------------
WLC Media Page
Moible First
------------------------------*/
/*
.media-vedio-hero-banner{
    width: 100%;
    height: 400px;
}
*/


.media-vedio-hero-banner {
position: relative;
padding-bottom: 36.25%;
/*    padding-bottom: 30%;*/
padding-top: 30px; height: 0; overflow: hidden;
}
 
.media-vedio-hero-banner iframe,
.media-vedio-hero-banner object,
.media-vedio-hero-banner embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.media-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;    
}


.media-card{
    margin: 10px;    
/*    border: 3px solid red;*/
    /*  google material design card  */
    background: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}

.media-img{
    position: relative;    
}

.media-img img{
    width: 100%;
    height: auto;    
}

.media-img .play-button{
    font-size: 2em;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);    

}

.media-card h1,
.media-card p{
    text-transform: uppercase;
    text-align: center;
}

.media-card h1{
    font-size: 1.5em;
}

.media-card p{
    padding: 10px;
}

.media-card p:last-child{
    margin-bottom: 10px;
}


/*------------------------------
WLC Media Page
Tablet Styles
------------------------------*/
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .media-container{
        
    }
    
           
}


/*------------------------------
WLC Media Page
Desktop Styles
------------------------------*/
/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .media-card{
        flex-basis: calc(25% - 5px);
    }
    
    #youtube.media-card{        
        flex-basis: 100%;
    }
    
    #youtube.media-card .media-vedio-hero-banner {
        position: relative;
        padding-bottom: 56.25%;
        /*    padding-bottom: 30%;*/
        padding-top: 30px; height: 0; overflow: hidden;
    }
    

}




/*------------------------------
WLC News Detail Page
Moible First
------------------------------*/
/*-----------Headlines Detail Pages ---------------*/
.news-detail-container{
    margin: 15px;
/*    border: 3px solid red;*/
}

.news-detail-section{
    display: flex;    
/*    border: 3px solid black;*/
    margin-bottom: 20px;
    /*  google material design card  */
    background: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.news-detail-photo img{
    width: 100%;
    display: block;
/*    border: 3px solid green;*/
}

.news-detail-data{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
/*    border: 3px solid red;*/
}

.news-detail-data h1{
    color: #c5181e;
}

.news-detail-data p{    
    line-height: 1.5em;
    margin: 10px;
}


/*------------------------------
WLC News Detail Page
Tablet Style
------------------------------*/
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .news-detail-container{
/*        border: 2px solid red;*/
    }
}


/*------------------------------
WLC News Detail Page
Desktop Style
------------------------------*/
/* Desktop Styles */
@media only screen and (min-width: 961px) {
    
    .news-detail-container{
        display: flex;
        justify-content: space-between;
    }
    
    .news-detail-section{
        flex: 2;
    }
    
    .news-detail-facebook-section{
        margin-left: 20px;
        flex: 1;
    }
}


/*------------------------------
WLC News Page
Moible First
------------------------------*/
.headlines-container{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
/*    border: 2px solid red;*/
}

.headline-section{
/*    border: 1px solid white;*/
}

.headline-section .news {
    margin-bottom: 15px;
    /*  google material design card  */
    background: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.news-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
/*    border: 1px solid black;*/
}

.news-data h1 {
    color: #c5181e;
    text-transform: uppercase;
}

.news-data p{
    line-height: 1.5em;
    margin-bottom: 10px;
}

.news-data a{
    padding: 15px;
    font-size: 1.5em;
}

.news-photo img{
    width: 100%;
    display: block;
}

.facebook-section{
    width: 100%;
/*    border: 1px solid green;*/
}




/*------------------------------
WLC News Page
Tablet Style
------------------------------*/
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .headlines-container{
/*        border: 2px solid red;*/
    }
}



/*------------------------------
WLC News Page
Desktop Style
------------------------------*/
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .headlines-container{
        justify-content: space-between;
        flex-wrap: nowrap;
/*        border: 2px solid green;*/
    }
    
    .news{
        display: flex;
        flex-wrap: nowrap;
    }
    
    .news .news-photo{
/*        border: 3px solid red;*/
        width: 100%;
        flex: 2;
/*        flex-grow: 2;*/
    }
    
    .news .news-data{
        flex: 2;
/*        flex-shrink: 1.5;*/
/*        flex-shrink: 15;*/
    }
    
    .news-photo img{
        height: 100%;
        display: block;
    }
    
    .facebook-section{
        margin-left: 20px;        
/*        border: 2px solid red;*/
    }
    
    .news-detail.headline-section{
        flex: 2;
    }
    
    .news-detail.facebook-section{
        flex: 1;
    }
    
    .news-detail.headline-section .news{
        display: flex;        
        flex-direction: column;
        flex-shrink: 5;
        border: 3px solid red;        
    }
        
}





                            /*------------------------------
                            WLC Events Detial Page
                            Moible First
                            ------------------------------*/
.wlc-event-detail-container{
/*    border: 3px solid red;*/
    margin: 15px;
}

.wlc-event-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*  google material design card  */
    background: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.wlc-event-detail-photo img{
    width: 100%;
    display: block;
}

.wlc-event-detail-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.wlc-event-detail-title img{
    height: 150px;
    padding: 10px;
}

.wlc-event-detail-title h1,
.wlc-event-detail-title h2,
.wlc-event-detail-title h3{
    text-align: center;
    width: 100%;    
}

.wlc-event-detail-title h1{
    font-size: 1.5em;
}

.wlc-event-detail-title h2{
    color: #c5181e;
    font-size: 3em;
    margin-top: -10px;
    margin-bottom: 10px;
}

.wlc-event-detail-title a{
    font-size: 1.5em;
    width: 100%;
    margin-top: 10px;
}

.event-google-map{
    width: 100%;
    height: auto;
}

.event-detail-description{
    border-bottom: 2px solid black;    
    padding: 15px;
    line-height: 1.5em;
}

.event-detail-description h2{
    font-size: 1.8em;
    margin-bottom: 15px;
}

.event-detail-description ul{
    list-style-type: none;
}

.event-detail-description li{    
    font-size: 1.2em;
}

.event-detial-sub-title{
    text-transform: uppercase;
    text-align: center;
    padding: 25px;
}

                            /*------------------------------
                            WLC Events Detial Page
                            Tablet Style
                            ------------------------------*/
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
/* It is no need! */
}


                            /*------------------------------
                            WLC Events Detial Page
                            Desktop Style
                            ------------------------------*/
/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .wlc-event-detail-container{
        
    }
    
    #event-detail-1st-section{
        display: flex;
        flex-wrap: nowrap;        
    }
    
    .wlc-event-detail-title{
        flex-shrink: 1;
    }
    
    .wlc-event-detail-photo img{
        height: 100%;
        display: block;
    }
    
    .event-detail-description{
        flex-basis: 70%;
        border-bottom: none;
        border-right: 2px solid black;
    }
    
    .event-detial-sub-title{
        flex-basis: 30%;
    }

}



                            /*------------------------------
                            WLC Events Page
                            Moible First
                            ------------------------------*/
.wlc-upcomming-event-container{
/*    border: 2px solid black;*/
    margin: 15px;
}

.wlc-upcomming-event{
    display: flex;
    flex-wrap: wrap;
    /*  google material design card  */
    background: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.wlc-upcomming-photo img{
    width: 100%;
    display: block;
}

.wlc-upcomming-data{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    text-transform: uppercase;
/*    border: 2px solid red;*/
/*    margin: 5px;*/
    width: 100%;
}

.wlc-upcomming-data h1{
    color: #c5181e;
    width: 100%;
}

.wlc-upcomming-data h2{
    width: 100%;
}

.wlc-upcomming-data a{
    font-size: 1.5em;
    width: 50%;
}

.wlc-upcomming-event-photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.wlc-upcomming-event-photo .photos img{
    width: 100%;
    display: block;
    margin-bottom: 15px;
    /*  google material design card  */
    background: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


                            /*------------------------------
                            WLC Events Page
                            Tablet Style
                            ------------------------------*/
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {    
    /*WLC Event Card*/
    .wlc-upcomming-event{
        flex-wrap: wrap;
    }
    
    .wlc-upcomming-data a{
        font-size: 1.5em;
    }
    /*Event VS Photo*/
    .wlc-upcomming-event-photo .photos {
        margin-bottom: 0;
        margin: 5px;
        flex-basis: calc(50% - 10px);
    }
}

                            /*------------------------------
                            WLC Events Page
                            Desktop Style
                            ------------------------------*/
/* Desktop Styles */
@media only screen and (min-width: 961px) {
    
    /*WLC Event Card*/    
    .wlc-upcomming-event{
        flex-wrap: nowrap;
    }
    
    .wlc-upcomming-photo img{
        height: 100%;
        display: block;
    }
    
    .wlc-upcomming-data{
        display: flex;
        flex-wrap: wrap;
    }
    
    .wlc-upcomming-data > * {
        width: 100%;
    }
    
    .wlc-upcomming-data a{
        align-self: flex-end;
        font-size: 1.5em;
        width: 50%;
    }
    
    /*Event VS Photo*/
    .wlc-upcomming-event-photo .photos {        
        margin: 5px;
        flex-basis: calc(33.33% - 10px);        
    }
}



                            /*------------------------------
                            Fighter Page
                            Moible First
                            ------------------------------*/
.feature-fighter-container{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;    
}

.feature-fighter-container a{
    font-size: 1.5em;
}

.fighter-card{
    margin-bottom: 15px;
    /*  google material design card  */
    background: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.fighter-card-img{
 position: relative;
}

.fighter-card-caption{
    width: 100%;
    /*color: #c5181e;*/
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0px;
    padding: 15px;
    /*left: 16px;*/
    font-size: 1.5em;
    
}

.fighter-card-img img{
    width: 100%;
    display: block;
}

                            /*------------------------------
                            Fighter Page
                            Tablet Style
                            ------------------------------*/
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {    
    
    /*Feature Fighter*/
    .fighter-card{        
        margin: 5px;
        flex-basis: calc(50% - 10px);
    }
    
    /*WLC Fighter*/
    #wlc-fighter-list .fighter-card{
        border: 2px solid green;
        margin: 5px;
        flex-basis: calc(33.33% - 10px);
    }
}

                            /*------------------------------
                            Fighter Page
                            Desktop Style
                            ------------------------------*/
/* Desktop Styles */
@media only screen and (min-width: 961px) {
    
    /*Feature Fighter*/
    .fighter-card{
        margin: 5px;
        flex-basis: calc(25% - 10px);
    }
    
    /*WLC Fighter*/
    #wlc-fighter-list .fighter-card{        
        margin: 5px;
        flex-basis: calc(20% - 10px);
    }
}